<div
  class="services-background bg-gradient-to-r from-stone-500 to-stone-700 sm:p-0  md:p-4 lg:p-16 xl:p-32 h-screen"
>
  <!-- Main Flex Container for Sidebar and Content -->
  <div class="flex h-full">
    <!-- Sidebar for Tabs with Glassmorphism -->
    <ul
      class="w-1/4 flex flex-col justify-center space-y-4 bg-white bg-opacity-30 backdrop-blur-md rounded-xl shadow-lg mr-4"
    >
      <div
        class="absolute top-10 left-1/2 transform -translate-x-1/2 text-center text-white whitespace-nowrap lg:block hidden"
      >
        <p class="text-center text-4xl">Mine Ydelser</p>
        <p class="text-center text-xl">Nedenfor er mine ydelser præsenteret.</p>
      </div>
      <li
        *ngFor="let tab of tabs; let i = index"
        class="text-white text-2xl p-2 hover:bg-gray-600 hover:text-gray-200 cursor-pointer"
        [ngClass]="{ 'bg-gray-700 bg-opacity-50': i === activeTabIndex }"
        (click)="switchTab(i)"
      >
        {{ tab.label }}
      </li>
    </ul>

    <!-- Content Area for Tab Panels with Glassmorphism -->
    <div
      class="w-3/4 flex-1 overflow-y-auto p-8 bg-white bg-opacity-30 backdrop-blur-md rounded-xl shadow-lg text-white justify-between"
    >
      <div
        *ngFor="let panel of panels; let i = index"
        class="panel"
        [hidden]="i !== activeTabIndex"
      >
        <div class="justify">
          <p [innerHTML]="panel.content"></p>
          <button
            class="mt-4 p-2 bg-blue-500 text-white rounded"
            (click)="handleButtonClick(panel.id)"
          >
            {{ panel.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Review Section with Glassmorphism -->
  <div class="flex justify-center mt-4">
    <div
      class="bg-white bg-opacity-30 backdrop-blur-md rounded-xl shadow-lg p-8"
    >
      <h3 class="text-2xl text-gray-800">{{ currentReview.name }}</h3>
      <p class="text-gray-800">{{ currentReview.text }}</p>

      <div class="flex justify-between mt-4">
        <button class="text-xl" (click)="previousReview()">&#10094;</button>
        <button class="text-xl" (click)="nextReview()">&#10095;</button>
      </div>
    </div>
  </div>
</div>
