.second-container {
  max-height: 70vh;
  position: relative; /* Ensure buttons and indicators are positioned correctly */
}

.slider-content {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="radio"] {
  display: none;
}

label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
}

label span.w-4.h-4.bg-white {
  background-color: white;
}

.container {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.card {
  flex: 1;
  height: 100%;
  transition: all 400ms;
  cursor: pointer;
}
.card > img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.container:hover .card:not(:hover) {
  filter: grayscale(100%);
}
.card:hover {
  flex: 3;
}