<div
  id="about"
  class="relative flex h-screen flex-row items-center justify-center border-y-2"
>
  <div
    class="background-cover absolute inset-0 bg-center bg-no-repeat "
    [ngStyle]="getBackgroundStyle()"
  ></div>
  <div class="relative z-10 w-1/2">
    <div class="glassmorphism flex flex-col justify-center text-center ">
      <div class="text-white" *ngFor="let item of data; let i = index">
        <ng-container *ngIf="i === currentMiddleIndex">
          <p>{{ item.title }}</p>
          <p>{{ item.description }}</p>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    class="relative z-10 flex w-1/2 items-center justify-center text-2xl text-white "
  >
    <button
      class="arrow left-arrow glassmorphism-empowered-lightning"
      (click)="rotateCarousel(-1)"
    >
      &#8592;
    </button>
    <div class="carousel">
      <div
        class="carousel-item glassmorphism-empowered-lightning"
        *ngFor="let item of data; let i = index"
        [ngStyle]="getCarouselItemStyle(i)"
      >
        <img [src]="item.imageUrl" [alt]="item.title" />
      </div>
    </div>
    <button
      class="arrow right-arrow glassmorphism-empowered-lightning"
      (click)="rotateCarousel(1)"
    >
      &#8594;
    </button>
  </div>
</div>
