.home-background {
  background: url("/assets/home.jpg") no-repeat;
  background-size: cover;
  background-position: right center; /* Default position */

  @media (min-width: 250px) {
    /* Extra small screens */
    background-position: left 70% center;
  }

  @media (min-width: 640px) {
    /* Small screens */
    background-position: right 10% center;
  }

  @media (min-width: 768px) {
    /* Medium screens */
    background-position: right 10% center;
  }

  @media (min-width: 1024px) {
    /* Large screens */
    background-position: right 40% center;
  }
}

.glassmorphism-no-rounded {
  background: rgba(255, 255, 255, 0.326);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: none;
  border: 1px solid rgba(255, 255, 255, 0.64);
  text-shadow: rgba(0, 0, 0, 0.161) 1px 0 10px;
}