<div
  class="home-background flex h-screen items-center overflow-hidden"
  id="home"
>
  <div
    class="glassmorphism-no-rounded md:glassmorphism flex flex-col md:p-4 text-center lg:ml-14 lg:max-w-xl"
  >
    <p class="pb-1 sm:pb-12 text-2xl font-semibold sm:text-3xl md:text-4xl">
      Mit navn er <br />
      <span>Jennifer Rasmussen</span>
    </p>
    <div
      class="mx-auto w-4/5 text-left text-sm font-semibold text-black sm:text-base md:text-xl"
    >
      Der er så meget misvisende information, når det drejer sig om kost,
      træning og sundhed. Derfor er det vigtigt, at du vælger den helt rigtige
      personlige træner for DIG. Et samarbejde med mig, handler om meget mere
      end blot kost og træning. Det handler om din egen personlige udvikling. I
      et forløb hos mig får du det bedre i egen krop, mere selvværd og mentalt
      overskud. Endvidere vil jeg klæde dig godt på, så du kan fortsætte på egen
      hånd efter forløbets afslutning.
    </div>
    <ul class="wrapper flex list-none justify-center gap-4 pt-1 md:pt-4">
      <li class="icon-button">
        <span class="tooltip"> Facebook </span>
        <a
          href="https://www.facebook.com/profile.php?id=100088332108953"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li class="icon-button">
        <span class="tooltip"> LinkedIn </span>
        <a
          href="https://www.linkedin.com/in/jennifer-rasmussen-43a3b5283/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </li>
      <li class="icon-button">
        <span class="tooltip"> Instagram </span>
        <a href="https://www.instagram.com/fitnessbyjennifer/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
