<div
  class="contact-background bg-gradient-to-r from-stone-500 to-stone-700"
  id="contact"
>
  <h2 class="contact-me-text">KONTAKT MIG</h2>
  <form
    class="contact-form"
    action="https://formsubmit.co/Fitnessbyjennifer25@gmail.com"
    method="POST"
  >
    <div class="input-group">
      <input type="text" required class="input" id="name" />
      <label class="label" for="name">Navn*</label>
    </div>
    <div class="input-group">
      <input type="email" required class="input" id="email" />
      <label class="label" for="email">Email*</label>
    </div>
    <div class="input-group">
      <input type="text" required class="input" id="phone" />
      <label class="label" for="phone">Telefon*</label>
    </div>
    <div class="input-group">
      <textarea
        type="text"
        required
        class="input"
        id="message"
        rows="3"
        placeholder="skriv din besked her..."
        wrap='off'
      ></textarea>
    </div>
    <div class="send-btn-container">
      <button class="send-btn" type="submit">Send Besked</button>
    </div>
  </form>
</div>
