.contact-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #a8a29e, #4b5563);
}

.input-wrapper {
  position: relative;
  transition: all 0.3s; /* Smooth transition on hover or focus */
}

.input-wrapper input {
  all: unset;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #dedede;
  transition: all 0.3s; /* Smooth transition on focus */
  cursor: pointer;
}

.input-wrapper label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: white;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-wrapper input:is(:hover, :focus, :valid) ~ label {
  bottom: 100%;
  font-size: 16px;
  color: #fff;
}

.input-wrapper > .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00f767;
  scale: 0 1;
  transition: 0.3s;
}

.input-wrapper input:focus ~ .underline {
  scale: 1 1;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #1877f2;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background: #1877f2;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button-wrapper:hover .tooltip {
  top: -35px;
  white-space: nowrap;
  opacity: 1;
  pointer-events: auto;
}

.glassmorphism-for-contact {
  background: rgba(255, 255, 255, 0.05); /* Adjusted for more transparency */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.786);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Adjusted for more transparency */
  text-shadow: rgba(0, 0, 0, 0.161) 1px 0 10px;
}

textarea {
  transition: height 0.3s ease;
}
