@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jr_frontend-primary: mat.define-palette(mat.$indigo-palette);
$jr_frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jr_frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jr_frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $jr_frontend-primary,
      accent: $jr_frontend-accent,
      warn: $jr_frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jr_frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: rgb(55 65 81);
  --secondary: rgb(120 113 108);
  --detail: white;
  --transparent: rgba(255, 255, 255, 0.1);
  /* Add more color variables as needed */
}

html {
  scroll-behavior: smooth;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.326);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.64);
  text-shadow: rgba(0, 0, 0, 0.161) 1px 0 10px;
}

.glassmorphism-rounded-none {
  background: rgba(0, 0, 0, 0.409);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-shadow: rgba(0, 0, 0, 0.37) 1px 0 10px;
  font-weight: 500;
}

.glassmorphism-empowered-lightning {
  background: rgba(0, 0, 0, 0.409);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.935);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  text-shadow: rgba(0, 0, 0, 0.37) 1px 0 10px;
  font-weight: 500;
}

.icon-button {
  @apply flex h-10 w-10 transform cursor-pointer items-center justify-center rounded-full bg-white text-2xl shadow-lg transition-all duration-200 ease-in-out hover:scale-105;
}

.tooltip {
  @apply pointer-events-none absolute top-0 rounded bg-white p-2 text-sm text-white opacity-0 shadow-lg transition-all duration-300 ease-in-out;
}

.nav-button {
  @apply rounded-md px-4 py-2 text-xl font-medium transition-colors duration-300 hover:cursor-pointer hover:bg-gray-950 hover:bg-opacity-20;
}
